


<ul>
<% @huts.each do |hut| %>

	<section class="hut">

		
	
			<li data-lat="<%= hut.latitude %>" data-lng="<%= hut.longitude %>" >
			<p>Serial Number: <%= hut.serial %> </p> 
			<p>Setup by: <%= hut.user_ID %> </p></li>
			
	
		
	</section>

<% end %>

</ul>



<section id="map"> </section>

<%= link_to "Add a Hut", new_hut_path, class: 'button' %>