
<section class="hut">
<h2><%= @hut.serial %></h2>

<div class="location"><p><%= @hut.longitude %>, <%= @hut.latitude %></p></div>


<div class="map" data-lat="<%= @hut.latitude %>" data-lng="<%= @hut.longitude %>">
</div>
<%= simple_format @hut.comments %>


</section>

<section id="map2"> </section>
