
<section class="hut">
  <h2><%= @hut.serial %></h2>

  <div class="location"><p><%= @hut.longitude %>, <%= @hut.latitude %></p></div>


  <section class="map show" data-lat="<%= @hut.latitude %>" data-lng="<%= @hut.longitude %>"></section>
  <%= simple_format @hut.comments %>


</section>

