<!DOCTYPE html>
<html>
<head>
  <title>Huttracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<h1><%= link_to "Huttracker", root_path %></h1>

		<h2>Remote information on outdoor huts</h2> </br>
		</br>
		
	</nav>



</header>

<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<p><%= value %></p>
	</div>
<% end %>


<%= yield %>

<h> 

</body>
</html>
